body {
    font-family: 'Open Sans', sans-serif;
}

.post-content {
    img, video {
        max-width: 100%;
        margin: 20px auto;
        display: block;
        height: auto;
    }

    .video-container {
        position:relative;
        padding-bottom:56.25%;
        padding-top:30px;
        height:0;
        overflow:hidden;
    }
    
    .video-container iframe, .video-container object, .video-container embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}

.content {
    h1, h2, h3, h4, h5, h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child) {
        margin-top: 80px;
        margin-bottom: 40px; 
    }

    p {
        margin: 20px auto;
    }
}

.carousel {
    img {
        object-fit: cover;
        height: 500px;
        min-width: 100%;
    }

    .slider-navigation-next, .slider-navigation-previous {
        background-color: rgba($color: #000000, $alpha: 0.0);
    }
}

a {
    color: hsl(208, 60%, 52%);
}

.navbar-dropdown {
    background-color: hsl(208, 60%, 52%);
}

a:hover, a.navbar-item:hover, a.navbar-link:hover {
    color: hsl(208, 47%, 66%);
}
