<footer class="footer">
    <div class="container">
        <div class="content">
            <div class="columns">
                <div class="column copyright">
                    <div><img class="icon" src="{{ .Site.BaseURL }}/images/logo.png" />EMPIRES</div>
                    <div>© Empires Mod {{ dateFormat "2006" now }}</div>
                    <div>All Rights Reserved</div>
                </div>
                <div class="column">
                    <div class="heading">SITE</div>
                    <div class="item"><a href="{{ .Site.BaseURL }}team">Team</a></div>
                    <div class="item"><a href="{{ .Site.BaseURL }}posts">Blog</a></div>
                </div>
                <div class="column">
                    <div class="heading">SOCIAL</div>
                    <div class="item"><a href="https://twitter.com/empires_mod" target="_blank"><img class="icon" src="{{ .Site.BaseURL }}/images/twitter.png" />Twitter</a></div>
                    <div class="item"><a href="https://discord.gg/UH6Sc6B" target="_blank"><img class="icon" src="{{ .Site.BaseURL }}/images/discord.png" />Discord</a></div>
                    <div class="item"><a href="https://store.steampowered.com/app/17740/" target="_blank"><img class="icon" src="{{ .Site.BaseURL }}/images/steam.png" />Steam</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>