{{ define "main" }}
  <main aria-role="main">
    <section class="hero is-medium has-carousel">
			<!-- <div class="container"> -->
				<div id="carousel" class="hero-carousel">
					<div class="item-1">
						<img src="{{ .Site.BaseURL }}/images/slide1.jpg">
					</div>
					<div class="item-2">
						<img src="{{ .Site.BaseURL }}/images/slide2.jpg">
					</div>
					<div class="item-3">
						<img src="{{ .Site.BaseURL }}/images/slide3.jpg">
          </div>
          <div class="item-4">
						<img src="{{ .Site.BaseURL }}/images/slide4.jpg">
          </div>
          <div class="item-5">
						<img src="{{ .Site.BaseURL }}/images/slide5.jpg">
          </div>
          <div class="item-6">
						<img src="{{ .Site.BaseURL }}/images/slide7.jpg">
					</div>
        </div>
        <div class="hero-head"></div>
        <div class="hero-body"></div>
        <div class="hero-foot"></div>
			<!-- </div> -->
    </section>
    <section class="content">
      <p>
        Empires, the free, award-winning Half-Life 2 mod, combines the best of the first person shooter and real-time strategy genres. Fight as either the Northern Faction, remnants of the fallen nation of Jekotia, or as the imperial Brenodi Empire.
      </p>
      <p>
        Choose your commander wisely and fight with up to 64 players for resources to power your army and fund your research into ever more deadly weapons, abilities and vehicles.
      </p>
      <p>
        <a class="button" href="https://store.steampowered.com/app/17740/">Available now for <b>&nbsp;free&nbsp;</b> on Steam</a>
      </p>
    </section>
    <div class="content">
      <h2>Latest Updates:</h2>
      {{ range first 10 .Site.RegularPages }}
        <div class="post-content">
          <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
          {{ .Summary}}
        </div>
      {{ end }}
    </div>
  </main>
{{ end }}